type init-cityman-qseecomd-sh, domain;
type init-cityman-qseecomd-sh_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(init-cityman-qseecomd-sh)

get_prop(init-cityman-qseecomd-sh, qseecomtee_prop)

allow init-cityman-qseecomd-sh vendor_shell_exec:file rx_file_perms;

# execute toybox/toolbox
allow init-cityman-qseecomd-sh vendor_toolbox_exec:file rx_file_perms;

allow init-cityman-qseecomd-sh vendor_file:dir r_dir_perms;
