on post-fs-data
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0660 /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/timed_output/vibrator/vtg_level
    chmod 0660 /sys/class/timed_output/vibrator/vtg_level
    chmod 0444 /sys/class/timed_output/vibrator/vtg_min
    chmod 0444 /sys/class/timed_output/vibrator/vtg_max
    chmod 0444 /sys/class/timed_output/vibrator/vtg_default

service vendor.vibrator-1-0 /vendor/bin/hw/android.hardware.vibrator@1.0-service.cityman
    interface android.hardware.vibrator@1.0::IVibrator default
    class hal
    user system
    group system
